@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;800&display=swap");
*,
*::before,
*::after{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}



body{
    font-family: "Poppins",sans-serif;
}

.logo{
    width: 100px;
    padding: 1.4rem 0;
}

header{
    position: absolute;
    z-index: 999;
    width: 100%;
    padding: 0.9rem 0;
    top: 0;
    left: 0;
}

header nav{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul{
    display: flex;
    list-style: none;
    margin: 1rem 0;
    align-items: center;
}

header ul a{
    text-decoration: none;
    color: white;
    padding: 0 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 0.83rem;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.bg-img{
    position: absolute;
    width: 2800px;
    top: calc(50% -390px);
    left: calc(50% );
    transform: translate(-50% , -50%);
    z-index: 1;
}

.fog-7{
    z-index: 2;
    position: absolute;
    width: 1900px;
    top: calc(50% - 100px);
    left: calc(50% + 300px);
    transform: translate(-50% , -50%);
}

.mountain-10{
    z-index: 3;
    position: absolute;
    width: 892px;
    top: calc(50% + 69px);
    left: calc(50% + 230px);
    transform: translate(-50% , -50%);
}

.fog-6{
    z-index: 4;
    position: absolute;
    width: 1610px;
    top: calc(50% + 85px);
    left: calc(50% + 20px);
    transform: translate(-50% , -50%);
}

.mountain-9{
    z-index: 5;
    position: absolute;
    width: 470px;
    top: calc(50% + 113px);
    left: calc(50% - 457px);
    transform: translate(-50% , -50%);
}

.mountain-8{
    z-index: 6;
    position: absolute;
    width: 810px;
    top: calc(50% + 86px);
    left: calc(50% - 202px);
    transform: translate(-50% , -50%);
}

.fog-5{
    z-index: 7;
    position: absolute;
    width: 450px;
    top: calc(50% + 160px);
    left: calc(50% + 20px);
    transform: translate(-50% , -50%);
}


.mountain-7{
    z-index: 8;
    position: absolute;
    width: 5px;
    top: calc(50% + 123px);
    left: calc(50% + 305px);
    transform: translate(-50% , -50%);
}

.text{
    position: absolute;
    z-index: 9;
    top: calc(50% - 160px);
    left: 50%;
    transform: translate(-50% , -50%);
    text-align: center;
    text-transform: uppercase;
    pointer-events: auto;
    color: #fff;
}

::selection{
    background-color: #353;
}

.text h2{
    font-weight: 100;
    font-size: 6.5rem;
}

.text h1{
    font-weight: 800;
    font-size: 8rem;
    line-height: 0.98;
}


.mountain-6{
    z-index: 10;
    position: absolute;
    width: 408px;
    top: calc(50% + 60px);
    left: calc(50% + 590px);
    transform: translate(-50% , -50%);
}

.fog-4{
    z-index: 11;
    position: absolute;
    width: 590px;
    top: calc(50% + 223px);
    left: calc(50% - 60px);
    transform: translate(-50% , -50%);
}

.mountain-5{
    z-index: 12;
    position: absolute;
    width: 538px;
    top: calc(50% + 250px);
    left: calc(50% + 130px);
    transform: translate(-50% , -50%);
}

.fog-3{
    z-index: 13;
    position: absolute;
    width: 1600px;
    top: calc(50% + 110px);
    left: calc(50% - 15px);
    transform: translate(-50% , -50%);
}

.mountain-4{
    z-index: 14;
    position: absolute;
    width: 780px;
    top: calc(50% + 196px);
    left: calc(50% - 381.5px);
    transform: translate(-50% , -50%);
}

.mountain-3{
    z-index: 15;
    position: absolute;
    width: 780px;
    top: calc(50% + 196px);
    left: calc(50% + 781.5px);
    transform: translate(-50% , -50%);
}

.fog-2{
    z-index: 16;
    position: absolute;
    width: 1560px;
    top: calc(50% + 147px);
    left: calc(50% - 30px);
    transform: translate(-50% , -50%);
}

.mountain-2{
    z-index: 17;
    position: absolute;
    width: 690px;
    top: calc(50% + 154px);
    left: calc(50% + 412px);
    transform: translate(-50% , -50%);
}



.mountain-1{
    z-index: 18;
    position: absolute;
    width: 530px;
    top: calc(50% + 17px);
    left: calc(50% - 701px);
    transform: translate(-50% , -50%);
}

.sun-rays{
    position: absolute;
    z-index: 19;
    top: 0;
    right: 0;
    width: 595px;
    pointer-events: none;
}

.black-shadow{
    position: absolute;
    z-index: 20;
    bottom: 0;
    right: 0;
    width: 100%;
    pointer-events: none;
}

.fog-1{
    z-index: 21;
    position: absolute;
    width: 1800px;
    top: calc(100% - 355px);
    left: 50%;
    transform: translate(-50% , -50%);
}

.vignette{
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: radial-gradient(
        ellipse at center,
        rgba(0,0,0,0) 65%,
        rgba(0,0,0,0.7)
    );
    pointer-events: none;
}


.parallax{
    pointer-events: none;
    transition: 0.45s cubic-bezier(.2,.49,.32,.99);
    
}
/* 
@media screen and (max-width: 1424px){
    .MainBody {
        margin: 2rem;
        border-radius: 17%;
        background-color: #fff;
        opacity: 0.7;
        z-index: 1000;
        position: fixed;
        width: 40%;
        height: 60%;
        overflow: hidden;
        top: 20%;
        left: 30%;
    }
}



@media screen and (max-width: 1024px){
    .MainBody {
        width: 60%;
        height: 65%;
        left: 17%;
        top: 10%;
    }
}

@media screen and (max-width: 768px) {
    .MainBody{
        border-radius: 10%;
		height: 80%;
		width: 60%;
	}
    
}

@media screen and (max-width: 525px) {
    .MainBody{
        border-radius: 6%;
        margin: 1rem;
        margin-top: 5rem;
        height: 80%;
        width: 90%;
        left: 1%;
        top: auto;
	}
    
}

@media screen and (max-width: 320px){
    .MainBody {
        border-radius: 0%;
        margin: 0;
        margin-top: 4rem;
        height: 80%;
        width: 100%;
        top: 0;
    }
    .container {
        width: 100%;
        height: 100%;
        display: grid;
        /* padding: 2rem; */
    /* }  */
/* }   */